
body {
  background-color: black;
}

.imagen-pokedex {
  position: fixed;
  top: 0;
  left: 29%;
  width: 50;
  height: 50; 
}


.consola{
  position: absolute;
  top: 50%;
  left: 50%; /* Coloca la "pantalla" en el centro horizontal del contenedor */
  background-color: rgb(247, 50, 50); /* Color de fondo verde con transparencia */
  transform: translate(-50%, -50%);
  height: 100%;
  width: 60%;
  
}

.contenedor{
  position: absolute;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 255, 0, 0.5); 
  padding: 100px;
  width: 100px;
  height: 20px;
}

.pokemon-image{
  position: absolute;
  width: 300px; 
  height: auto;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);

}

.entradatxt{
  position: fixed;
  border-radius: 10px;
  height: 5%;
  width: 40%;
  background-color: rgba(255, 255, 0, 0.878);
  bottom: 290px;
  left: 30%;
}

.btn-consulta{
  position: fixed;
  border-radius: 10px;
  height: 5%;
  background-color: gray;
  bottom: 220px;
  left: 40%;
  color: #fff
}

.btn-search{
  position: fixed;
  border-radius: 10px;
  height: 5%;
  background-color: gray;
  bottom: 220px;
  left: 240px;
  color: #fff
}

.tabla-container {
  position: fixed;
  display: table;
  bottom: 20%;
  width: 100%;
  border-collapse: collapse;
}

.fila {
  display: table-row;
  background-color: #ccc;
}

.celda {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 8px;
}

.fila:first-child {
  font-weight: bold;
  background-color: #f0f0f0;
}
